<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735267677154-32a9mmfde6rju4h9ers2h1rq2jl4n372.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735267677154-32a9mmfde6rju4h9ers2h1rq2jl4n372</string>
	<key>API_KEY</key>
	<string>AIzaSyAa23gzCk8Hic8npQXr9PmkWz_2zu-wPwI</string>
	<key>GCM_SENDER_ID</key>
	<string>735267677154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopSmart</string>
	<key>PROJECT_ID</key>
	<string>shopsmart-968fc</string>
	<key>STORAGE_BUCKET</key>
	<string>shopsmart-968fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735267677154:ios:3f8e1cbf30f87c46f84fbb</string>
</dict>
</plist>